<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tencent.wxcloudrun.dao.CountersMapper">

    <resultMap id="usersMapper" type="com.tencent.wxcloudrun.model.User">
        <id property="id" column="id"/>
        <result property="uid" column="uid"/>
        <result property="name" column="name"/>
        <result property="health" column="health"/>
        <result property="step" column="step"/>
        <result property="createdAt" column="createdAt" javaType="java.time.LocalDateTime" />
        <result property="updatedAt" column="updatedAt" javaType="java.time.LocalDateTime"  />
    </resultMap>

    <select id="getUser" resultMap="usersMapper" parameterType="java.lang.String">
        SELECT `id`, `uid`, `name`, `health`, `step`, `createdAt`, `updatedAt`
        FROM Users
        WHERE uid = #{uid}
    </select>

    <update id="upsertUser" parameterType="com.tencent.wxcloudrun.model.User">
        INSERT INTO `Users`(`id`, `uid`, `name`, `health`, `step`)
        VALUE(#{id}, #{uid}, #{name}, #{health}, #{step})
        ON DUPLICATE KEY UPDATE uid=#{uid}, name=#{name}, health=#{health}, step=#{step}
    </update>

</mapper>
